<%# <%= form_ @user, :html => {:class => 'form'}, :url => { :action => "log_in" } do |form| %>
  <%# <div class="field">
    <%= form.label :username %>
    <%# <%= form.text_field :username, :required => true %> %>
  <%# </div> %> %>

  <%# <div class="actions"> %>
    <%# <%= form.submit 'Log In' %> %>
  <%# </div> %>
<%# <% end %> %> %>

<%= form_with(url: "/log_in", method: "get") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <%= submit_tag("Login") %>
<% end %>